<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>검색결과</title>
  <!--    link style-->
  <link rel="stylesheet" href="css/styleCom.css">
  <link href="css/header.css" rel="stylesheet">
  <link href="css/footer.css" rel="stylesheet">
  <!--    -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <style>
    @font-face {
      font-family: "nanum";
      src: url("fonts/eun_NanumSquareR.ttf");
    }

    * {
      font-family: nanum;
    }
  </style>
</head>
<body>
<!--헤더-->
<th:block th:include="header.html"></th:block>

<div class="com-content">
  <!--    묶음-->
  <div class="com-form">
    <!--        form-->
    <div class="com-container">
      <!--    container -->
      <div class="com-row">
        <div class="com-center">
          <h4 style="color: orange">COMMUNITY</h4>
          <h1 style="color: white;">신청자 리스트</h1>
        </div>
      </div>
    </div>
  </div>
  <!--        검색바-->
  <div class="com-body">
    <form action="searchBar" method="post">
      <div class="search-bar">
        <input class="search-bar1" type="text" name="cpcname" placeholder="신청하신 강의명을 입력해주세요" />
        <input type="submit" class="search-bar2" name="submit" value="검색">
      </div>
    </form>
    <div class="com-table">
      <!--      table 윗줄-->
      <div class="p-10 table-top">번호</div>
      <div class="p-30 table-top">강의명</div>
      <div class="p-15 table-top">아이디</div>
      <div class="t-date p-45 table-top">입력일</div>
    </div>
    <!--        중간-->
    <div class="middle-table">
      <th:block th:if="${#lists.isEmpty(sList)}">
        <div class="cell-none">검색된 강의명이 없습니다.</div>
      </th:block>
      <th:block th:unless="${#lists.isEmpty(sList)}">
        <th:block th:each="bitem:${sList}">
          <div style="margin: 0 auto">
            <div class="middle-row">
              <!--            DB에서 넘어올 자료 데이터 리스트-->
                <div class="cell-num" th:text="${bitem.cpnum}"></div>
                <div class="cell-name" th:text="${bitem.cpcname.cname}"></div>
                <div class="cell-id" th:text="${bitem.cpcmid.mid}"></div>
                <div class="cell-date" th:text="${#dates.format(bitem.cpdate,'yyyy-MM-dd HH:mm:ss')}">DB 날짜</div>
            </div>
          </div>
        </th:block>
      </th:block>
    </div>
    <!--        페이징 처리-->
    <div class="btn-area">
      <div class="paging" th:utext="${paging}"></div>
    </div>

  </div>
</div>
<th:block th:include="footer.html"></th:block>
</body>

<script>
  function writeFrm(){
    location.href="writeFrm";
  }
</script>
</html>